.coral{font-weight: 400;
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    font-family: Alexander Lettering;
    line-height: 25px;
    margin-top: 20px;
    font-style: italic;
}
@font-face { font-family: 'Alexander Lettering'; src: url('https://Koa-la.github.io/firmas/Alexander%20Lettering.ttf'); }

#ic {
    color: #bcd8f2;
    margin-left: 10px;
    margin-right: 5px;
}

.bc{
 font-size: 10px;
    font-family: calibri;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    line-height: 9px;
    justify-content: center;
    border-top: 1px solid #bcd8f2;
    padding: 8px;
    margin-top: 5px;
}
