#ellie {
  width:260px;
  height:200px;
  margin:auto;text-align:center;
  outline-offset:1px;
    border:10px solid #111;
  outline:1px solid #8db0d9;
   transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

#ellie:hover {
    transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  outline:1px solid #8db0d9;
  outline-offset:-9px;
}
.el2{ transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  margin-top:-110px;
  width:160px;
  color:#fff;
  padding:50px;
  height:110px;
  line-height:16px;
  font-family:arial;
  font-size: 15px;
  text-transform:uppercase;
    font-weight: 900;
}

#ellie:hover .el2 { 
  margin-top:0px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  color: #fff;
  background:#8db0d98c;
   font-family:arial;
  font-size: 15px;
  text-transform:uppercase;
    font-weight: 900;
}
.el1{
  font-size: 26px;
    color: #f1f1f1;
    font-weight: 900;
    float: auto;
  font-style:italic;
    text-shadow: 3px 0 0 #8db0d9;
    padding: 20px;
  line-height:1px;
  margin-bottom:-5px;
  font-family:arial;
    margin-top: 30px;
}

.ellie-t{width:150px;margin:auto;
  line-height:10px;font-size:8px;font-family:Calibri;color:#f1f1f1;text-align:center;letter-spacing:1px;text-transform:uppercase
}
