#floresita{margin-top:10px!important;
  margin-bottom:5px!important;
  width:280px;
  height:200px;
    overflow: hidden;
  margin:auto;
  border-top:10px solid #1e1d1d;
  border-bottom:10px solid #1e1d1d;
  outline-offset:6px;
  outline:1px solid #62623b;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
  background-image:url(https://i.imgur.com/d1P5yAq.png);
}
#floresita:hover .flo-txt{
  margin-top:0px; 
   transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#flo1{
  color:#ccc;
  display:block;
  padding:5px;
  font-size:30px;
}

.flo-txt{font-size: 20px;
    color: #62623b;
  height:50px;
  margin-top:-130px;
    width: 220px;
    font-weight:700;
    text-align: center;
  background:#000000b3;
    font-family: Dulkanyca;
    text-shadow: 2px 0px 0 #191a1ad9;
    line-height: 20px;
    padding:30px;
  padding-top:50px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#floresita:hover .flo-txt1{
  margin-top:0px;
  background:#62623bbf;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
  padding-top:20px;
  border-top:1px solid #1e1d1d;
}

.flo-txt1{
  text-transform:uppercase;
  height:30px;
  background:#1e1d1d;
  padding:20px;
  margin-top:180px;
  padding-top:10px;
  text-align:center;
  font-size:8px;
  width:240px;
 font-weight:700;
   border-top:1px solid #1e1d1d;
  color:#c1c1c1;
  font-family:arial;
  letter-spacing:1px;
  text-shadow: 1px 0px 1px #000;
  line-height:9px;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

@font-face { font-family: 'Dulkanyca'; src: url('https://Koa-la.github.io/firmas/Dulkanyca.ttf'); }



.florence-titulo{font-size:30px;
    color: #62623b;
    font-weight:700;
    text-align: center;
    font-family: Dulkanyca;
    text-shadow: 2px 0px 0 #191a1ad9;
    line-height: 20px;
    padding:10px;
}

.florence strong{color: #62623b;}.florence .datos > i{color: #62623b;}</style>
