
#jack-firma {
  width:270px;
  height:200px;
  margin:auto;
  display:flex;
  border:10px solid #111;
  outline:1px solid #536077;
  outline-offset:0px;
position: relative;
  overflow: hidden;
 transition: 0.5s ease-in-out;
 -webkit-transition: 0.5s ease-in-out;
}
.j-texto-c1{text-shadow: 2px 1px 0 #536077;
  font-family:arial;
  color:#ccc;
  line-height:18px;
  width:82px;
  font-size:20px;
  text-align: left;
  font-weight:900;
  text-transform:uppercase;
  padding:20px;
  margin-top:110px;
   transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#jack-firma:hover .j-texto-c1{
font-size:28px;text-shadow: 2px 1px 0 #000;
  width:120px;
  text-align: left;
  letter-spacing:-1px;
  padding:15px;
  line-height:23px;
  margin-top:100px;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}


.j-texto-c{
  width:150px;
  height:200px;
  padding:25px;
  line-height:11px;
  text-align:justify;
  letter-spacing:1px;
  background:#000;
  font-size:7.5px;
  text-transform:uppercase;
  font-family:calibri;
  color:#ccc;
   margin-left:-200px;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#jack-firma:hover .j-texto-c{
  margin-left:0px;
  background:#536077;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.j-imagen-f{
   width:300px;
  height:200px;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#jack-firma:hover .j-imagen-f{
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
  filter: grayscale(100%);
}
