#mini-t {
  width: 250px;
  height: 200px;
  background: url(https://i.imgur.com/WaX02GF.png);
  border: 10px solid #020102;
  outline: 1px solid #317499;
  outline-offset: -9px;
  margin: auto;
  position: relative;
  overflow: hidden;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
   text-transform:uppercase;
  font-family:arial;
  color:#f1f1f1;
}

.m-txt1 {
 font-weight:900;
  text-shadow: 2px 0px 0px #317499;
  font-size:24px;
  line-height:18px;
   transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  text-align:right;
  margin-top:140px;
  margin-right:10px;
  margin-bottom:5px;
}

#mini-t:hover .m-txt1 {
  margin-top:125px;
   transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
}

.m-txt2 {  font-size:7px;
  letter-spacing:1.5px;
  line-height:20px;
  text-align:center;
  width:240px;
  background:#317499; 
  padding:5px;
  height:30px;
  margin-top:30px;
   transition:2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
}

#mini-t:hover .m-txt2 { background:#275a7696; 
margin-top:0px; 
   transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}
