.sst {
    color: #fff;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    margin: auto;
    text-align: Center;
    font-family: arial;
    width: 200px;
    min-height: 170px;
    padding: 15px;
    background: #0a0a0a;
}
.sc1 {
text-transform: uppercase;
    font-size: 11px;
    padding: 2px;
    font-weight: 700;
    display: inline-block;
    min-width: 83px;
    height: 29px;
    margin-top: 1px!important;
    margin-right: 1px;
    font-family: calibri;
    vertical-align: top;
    color: #dedddd;
    background: #121212;
    line-height: 25px;
}

dt1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    padding: 5px;
    font-weight: 300;
    display: block;
    margin-left: 1px!important;
    margin-top: 1px;
    font-family: arial;
    color: #dedddd;
    width: 167px;
    border: 1px solid #585428;
    background: #585428;
    line-height: 9px;
}


.sih {
    color: #dedddd;
    font-size: 13px;
    margin: auto;
    text-align: Center;
    font-family: arial;
    margin-top: 1px;
    display: flex;
    width: 401px;
    height: 110px;
    padding: 10px;
    background: #0a0a0a;
}

.tab-scott {
background: #0a0a0a;
    font-family: arial;
    font-size: 13px;
    font-weight: 400;
    margin: 10px auto auto;
    outline-offset: 7px;
    padding: 30px;
    text-align: justify;
    width: 400px;
}

.sub-scott {
text-align: center;
    font-family: calibri;
    font-size: 9px;
    text-transform: uppercase;
    margin: 9px auto 20px;
    letter-spacing: 1.5px;
    padding: 0px;
}

.tituloscott:first-letter {color: #908a4a;}
.tituloscott {margin-top: 9px;
    line-height: 0px;
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
    text-align: Center;
    font-weight: 900;
    color: #dedddd;}
.scott strong {color: #67592f!important;font-style: italic;}
.s11:first-letter {color: #908a4a;}
.s11 {color: #dedddd;
    font-family: arial;
    font-weight: 900;
    font-size: 11px;
    text-transform: uppercase;}

ds1 {
 text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8px;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 1px;
    margin-left: 1px;
    font-weight: 700;
    font-family: arial;
    border-top: 1px solid #585428;
    color: #dedddd;
    line-height: 10px;
    text-align: center;
    display: block;
}

.sitems { font-weight: 900;
    text-transform: uppercase;
   color: #6f6a33;
    font-size: 10px;
    font-family: arial;}


.shabilidades {
color: #d0d0d0;
    width: 191px;
    height: 92px;
    line-height: 10px;
    font-size: 10px;
    padding: 6px;
    overflow: auto;
    text-align: justify;
}

.shabilidades strong {
    text-transform:uppercase;
    font-weight:900;
    font-size:10px;
    }
