.statzach {
vertical-align: top;
    display: inline-block;
    width: 168px;
    margin: 1px;
    height: 140px;
    padding: 20px;
    background: #000;
    border: 1px solid #000;
}

psz {
width:19px;
    display: inline-block;
    padding: 3px 5px;
    text-align: center;
    margin-top:2px;
    background: #0a0a0a;
    color: #113129;
    font-weight: 900;
    font-family: arial;
    font-size: 8px;
  
}

pvh {margin-top:2px;
    height: 13px;
    font-size: 10px;
    background: #080808c7;
    border: 1px solid #0a0a0a;
    font-family: calibri;
    letter-spacing: 2px;
    line-height: 13px;
    display: inline-table;
    width: 125px;
    color: #c3c2c2c7;
    padding: 5px;
    vertical-align: top;
    margin-left: 1px;
    text-transform: uppercase;
}

psh {
height: 13px;
    font-size: 10px;
    background: #080808c7;
    border: 1px solid #0a0a0a;
    font-family: calibri;
    letter-spacing: 2px;
    line-height: 13px;
    display: inline-table;
    width:41px;
    color: #c3c2c2c7;
    padding:5px;
    vertical-align: top;
    margin-left: 1px;
    margin-right: 1px;
    text-transform: uppercase;
    margin-top: 2px;
}

resulta2 {
width: 151px;
    height: 15px;
    padding: 7px;
    color: #c3c2c2ad;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 8px;
    display: table-caption;
    text-align: center;
    line-height: 8px;
    letter-spacing: 1px;
    font-family: arial;
    border: 1px solid #0a0a0a;
    background: #060606;
}

.pjz {
    background: #000000;
    color: #bababa;
    border-bottom: 1px solid #0a0a0a;
    font-size: 9px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: arial;
    font-weight: 900;
    padding: 12px;
    line-height: 7px;
    margin: -21px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#izach {
    color: #0d3129;
    font-size: 8px;
}

.zachdatos {
color: #bababa;
    font-size: 11px;
    font-family: Arial;
    text-align: justify;
    width: 383px;
    line-height: 14px;
    letter-spacing: 0px;
    padding: 20px;
    background: #000;
}

.zachdatos strong {
    text-transform: uppercase;
    color: #bababa;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 5px;
line-height: 17px;
}

.zachdatos i {
    text-transform: uppercase;
    color: #0f3e33;
    font-weight: 900;
    font-size: 9px;
    font-style: inherit;
    padding: 5px;}


.z{
    background: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: 400;
    margin: auto;
    outline-offset: 7px;
    padding: 30px;
    text-align: justify;
    width: 360px;
}
 .iconz i{color:#0d3129!important;} .zk13 strong{color:#0d3129!important;}


.zk13{
    text-align: justify;
    line-height: 15px;
    font-size: 13px;
    padding: 0 10px;
    font-family: arial;
}

.zk13 strong{color:#0d3129!important;}
